[mysql]
socket=/dev/shm/mysql.sock
[mysqld]
datadir=/var/lib/mysql
socket=/dev/shm/mysql.sock
performance_schema = off
query_cache_size = 0
innodb_file_per_table
log_bin=mysqld-bin
server_id=1
expire_logs_days=7
sync_binlog = 0
innodb_flush_log_at_trx_commit=0
innodb_doublewrite=no
innodb_flush_method=O_DIRECT
symbolic-links=0
sql_mode=NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES
